body{
    margin : 0px;
    width: 100%;
    max-height: fit-content;
    background-color: #e7e7e7;
}

/*PROFILE*/
#gura{
    height: 23rem;
    border-radius: 20rem;
    position: static;
    float: right;
    top :0px;
    margin-right: 15%;
    z-index: -1;
}

/*INTRODUCTION*/
#intro{
    font-size: 1.3rem;
    list-style: none;
    margin: 1rem;
    margin-left: 10%;
    margin-top: 2rem;
    z-index: 1;
    position: static;
}

/*ABOUT ME*/
#aboutme{
    font-size: 1.3rem;
    list-style: none;
    margin: 1rem;
    margin-left: 10%;
    margin-top: 2rem;
}#aboutme p{
    text-align: justify;
    width : 60%;
}

/*fUNFACT & SKILLS*/
#factSkills{
    display: flex;
    margin: 3rem;
    margin-left: 10%;
}#factSkills #funfacts{
    margin-right : 10%;
}#factSkills #skills{
    margin-left: 10%;
}#factSkills #skills #skillList{
    display: flex;
}#factSkills #skills #skillList div{
    margin-right: 2rem;
}#factSkills #skills #skillList div span{
    display: table;
    background-color: rgb(255, 255, 255);
    border: 2px rgb(163, 163, 163);
    height: 1rem;
    width: 10rem;
    border-radius: 1rem;
    border-style: solid;
}

/*PROJECTS*/
#projects{
    text-align: center;
}#projects #projectList{
    display: flex;
    list-style: none;
    overflow-x: scroll;
}

/*CONTACT*/
#contact{
    position: static;
    background-color: #969696;
    width: 100%;
    font-size: 1.4rem;
    list-style: none;
    bottom: 0px;
    padding: 2rem;
}#contact li img{
    height: 1rem;
}#contact li a{
    text-decoration: none;
    color: black;
}